<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.itycoon.plutoid.biz.llm.mapper.LLMMapper">
  <select id="findLlmModelList" resultType="LLMModel">
    SELECT l.llm_provider,
           l.llm_model,
           l.max_token,
           l.default_model_yn,
           l.create_by,
           l.create_date,
           l.modify_by,
           l.modify_date
    FROM LLM_MODEL l;
  </select>

  <select id="findDefaultLlmModel">
    SELECT l.llm_provider,
           l.llm_model,
           l.max_token,
           l.default_model_yn,
           l.create_by,
           l.create_date,
           l.modify_by,
           l.modify_date
    FROM LLM_MODEL l
    WHERE default_model_yn = 'Y';
  </select>

  <select id="findLlmModel">
    SELECT l.llm_provider,
           l.llm_model,
           l.max_token,
           l.default_model_yn,
           l.create_by,
           l.create_date,
           l.modify_by,
           l.modify_date
    FROM LLM_MODEL l
    WHERE l.default_model_yn = 'Y'
      AND l.llm_model = #{llmModel};
  </select>


</mapper>
